<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '155140558303857',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

=================================================
<br/>
Local Host
<br/>
<div class="fb-send-to-messenger" 
  messenger_app_id= '155140558303857'
  page_id= '1338862072838148'
  data-ref= ""
  color="blue" 
  size="standard"></div>
  <br/>